.single-product
  position: relative
  &-img
    border: 1px solid #eaeaea
    box-sizing: border-box
    background-color: #f7f7f7
    height: 777px
    display: flex
    justify-content: center
    padding-top: 11px
  &-empty
    height: 763px
  &-desc
    position: absolute
    top: 680px
    left: 25%
    border: 1px solid #eaeaea
    box-sizing: border-box
    background-color:  #ffffff
    width: 1141px
    height: 730px

